{% extends "base.html" %}
{% load bootstrap4 %}
{% load staticfiles %}

{% block content %}

<div class="banner" id="quiz__banner">

</div>

<div class="container questions_container">
    <form method="POST" id="responseForm">
        <h2>{{n}}. {{question.libelle}}</h2>
        {% csrf_token %}
        <ul class="unstyled">
            {% for response in responses %}
                <li>
                    <input class="styled-checkbox" id="styled-checkbox-{{response.id}}" type="checkbox" name="rep" value="{{response.libelle}}" >
                    <label for="styled-checkbox-{{response.id}}">{{response.libelle}}</label>
                </li>
                <input type="hidden" id="questionId" value="{{question.id}}" />
            {% endfor %}
        </ul>
        <button type="submit" id="submit" class="btn">Valider</button>
    </form>
</div>

{% endblock %} 

