<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Open Technoloy Quiz</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat|Russo+One"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    />
    {# Custom CSS#}
    <link rel="stylesheet" href="{% static 'dist/css/master.css' %}" />
  </head>

  <body>
    <header>
        <div class="container">
            <nav>
                <div class="logo__box">
                    {% if user.is_authenticated %}
                    <a href="{% url 'quiz:home' %}">
                        <img class="logo" src="{% static 'imgs/open_logo_alone.svg' %}" />
                    </a>
                    {% else %}
                    <a href="{% url 'user:login' %}">
                        <img class="logo" src="{% static 'imgs/open_logo_alone.svg' %}" />
                    </a>
                    {% endif %}
                </div>
                <div class="sign__box">
                    <ul class="navbar__items">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'quiz:home' %}">@ {{user.username}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'user:logout' %}">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'user:signup' %}">S'inscrire</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'user:login' %}">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
    </header>


    <div class="main-container">
      {% block content %} {% endblock %}
    </div>

    <footer>
        <p>Copyright 2019, Inchtechs. All rights Reserved.</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script src="{% static 'dist/js/main.js' %}"></script>
    {% block scriptbloc %} {% endblock %}
  </body>
</html>
